---
import Footer from "../components/Footer.astro"
import Greeting from "../components/Greeting"
import Header from "../components/Header.astro"
import Navigation from "../components/Navigation.astro"
import BaseLayout from "../layouts/BaseLayout.astro"
import "../styles/global.css"

const pageTitle = "Home"
---

<BaseLayout pageTitle={pageTitle}>
  <h1>S Fujimoto</h1>

  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>
